<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="baseDir">logs</Property>
		<Property name="logPattern">%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %l - %msg%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
		</Console>
		<RollingFile name="mainLogFile"
					 fileName="${baseDir}/Main-${date:MM-dd-yyyy_HH.mm.ss}.log"
					 filePattern="${baseDir}/Main-%d{MM-dd-yyyy_HH.mm.ss}.log">
			<PatternLayout>
				<Pattern>${logPattern}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
		<!-- Add more logging files here -->
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="debug"/>
		</Root>
		<Logger name="mainLog" level="debug" additivity="false">
			<AppenderRef ref="mainLogFile"/>
		</Logger>
		<!-- Add more loggers here (linking a logger name to an appender) -->
	</Loggers>
</Configuration>